<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetMeBeYourChef"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.LetMeBeYourChef">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ricetta.ActivityDettagliRicetta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.LetMeBeYourChef"
            android:exported="true">
        </activity>
        <activity
            android:name=".esercizio.EsercizioAddPrefActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aggiungi_esercizio.AggiungiEsercizioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".esercizio.AggiungiEsercizioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".esercizio.EsercizioRDUActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pasto.PastoActivity"
            android:exported="false" />
        <activity
            android:name=".prodotto.ProdottoActivity"
            android:exported="false"
            android:parentActivityName=".aggiungi_pasto.AggiungiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilo.ProfiloActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aggiungi_pasto.AggiungiActivity"
            android:exported="false"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".autenticazione.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticazione.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticazione.RecuperoPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticazione.InizioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticazione.ConosciamociActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"/>
    </application>

</manifest>